<!doctype html>
<html lang="en">
{% load static %}
<head>  
    {% include 'head.html' %}   
    <title>Edit User</title>
</head>
<body>

    <!-- navbar -->
    {% include 'navbar.html' %}
    {% block content %}
    {% load rest_framework %}

    <div class="pb-5">
        <br>
        <div class="container d-flex justify-content-center">
            <article style="min-width: 400px;">
        
                {% if form.instance %}
                    <h3>{{form.instance}} - update</h3>
                    <hr>
                    <!-- class="form-horizontal form-group" -->
                    
                    <form  action="/blog/post/{{form.instance.slug}}/update/" method="POST", enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {% render_form form template_pack='rest_framework/vertical' %}
                        <br>
                        <button style="margin-left: 80px;" name="update_blog" value="update_blog" type="submit" class="btn">Update</button>
                        <button style="margin-left: 60px;" name="update_blog" value="cancel" type="cancel" href="../" class="btn">Cancel</button>
                        
                    </form>
                {% else %}
                    <h3>Blog</h3>   
                    <hr>
                    <!-- class="form-horizontal form-group" -->
                    <form  action="/blog/create/" method="POST", enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {% render_form form template_pack='rest_framework/vertical' %}
                        <br>
                        <button style="margin-left: 40px;" name="create_blog" value="create_blog" type="submit" class="btn">Create Blog</button>
                        <button style="margin-left: 60px;" name="create_blog" value="cancel" type="cancel" href="../" class="btn">Cancel</button>
                    </form>
                {% endif %}

            </article>
        </div>
    </div>

    <!-- newsletter -->
    <section class="section newsletter" id="newsletter">
        <div class="container section-center newsletter-center">
            <div class="newsletter-title">
<!--                 <h3>want latest post info and updates?</h3>
                <p>Sign up for newsletter and stay up to date</p>
            </div>
            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="your email" />
                <button type="submit" class="btn">submit</button>
            </form> -->
            <br><br>
            </div>
        </div>
    </section>
    <!-- end of newsletter -->
    
    {% endblock %}

    {% include 'footer.html' %}
    

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    {% include 'script.html' %}
    
</body>

</html>