<!doctype html>
<html lang="en">
{% load static %}
<head>  
    {% include 'head.html' %}   
    <title>Category</title>
</head>
<body>

    <!-- navbar -->
    {% include 'navbar.html' %}
    {% block content %}
<!-- 
      <div class="categori-list">
        <div class="container">
            <section class="section bg-grey">
                <div class="section-title mt-5">
                    <h2>Categories</h2>
                    <div class="underline"></div>
                </div>
                <div class="section-center services-center">
                    {% for i in cat %}
                    <article class="service">
                        <a href="{{ i.urls }}">
                            <h4>{{ i.title }}</h4>
                            <div class="underline"></div>
                            <p>{{ i.description }}</p>
                        </a>
                    </article>
                    {% endfor %}
                </div>


            </section>
        </div>
    </div> -->

    <!-- Blog -->
    <div class="">
        <div class="container ">
            <div class="row">
                <div class="section-title"></div>

                <div class="col-lg-8 mb-5">
                    <!-- featured blogs -->
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                                {% for i in blog_objs %}
                                    <div class="col-lg-6">
                                        <!-- single blog -->
                                        <article class="blog-card">
                                            <div class="blog-img-container">
                                                <a href="{{ i.urls }}"><img src="{{ i.pic1.url }}" class="blog-img" alt="" /></a>
                                                <p class="blog-date">{{ i.created }}</p>
                                            </div>
                                            <!-- blog info -->
                                            <div class="blog-info">
                                                <div class="blog-title">
                                                    <a href="{{ i.urls }}">
                                                        <h4>{{ i.title }}</h4>
                                                    </a>
                                                    {% for j in i.cat_2 %}
                                                    <a href="{{ j.urls }}"><p>{{ j }}</p></a>
                                                    {% endfor %}
                                                </div>
                                                <p>{{ i.short }}</p>
                                                <!-- blog footer -->
                                                <div class="blog-footer">
                                                    <a href="/user/{{ i.owner }}/">
                                                        <p>
                                                            <span><i class="fas fa-user"></i></span>{{ i.owner }}
                                                        </p>
                                                    </a>
                                                    <a href="{{ i.urls }}">
                                                        <p>Read More...</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- end of single blog -->
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="blog-btn mt-5">
                            <span class="step-links">
                                {% if blog_objs.has_previous %}
                                    <a class="btn" href="?page=1">&laquo; first</a>
                                    <a class="btn" href="?page={{ blog_objs.previous_page_number }}">previous</a>
                                {% endif %}
                                {% if pages > 1 %}
                                <span class="current">
                                    <span> Page {{ blog_objs.number }} of {{ blog_objs.paginator.num_pages }} </span>
                                </span>
                                {% endif %}

                                {% if blog_objs.has_next %}
                                    <a class="btn" href="?page={{ blog_objs.next_page_number }}">next</a>
                                    <a class="btn" href="?page={{ blog_objs.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>

                        <!-- end of blogs center -->
                        <div class="blog-btn mt-5">
                            <a href="/blog/" class="btn">all blogs</a>
                        </div>
                    </section>
                    <!-- end of featured blogs -->

                     <div class="section-title mt-5">
                        <h2>Recent Posts</h2>
                        <div class="underline"></div>
                    </div>
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                                {% for i in recent %}
                                    <div class="col-lg-6">
                                        <!-- single blog -->
                                        <article class="blog-card">
                                            <!-- blog info -->
                                            <div class="blog-info">
                                                <div class="blog-title">
                                                    <a href="{{ i.urls }}">
                                                        <h4>{{ i.title }}</h4>
                                                    </a>
                                                    {% for j in i.cat_2 %}
                                                    <a href="{{ j.urls }}"><p>{{ j }}</p></a>
                                                    {% endfor %}
                                                </div>
                                                <p>{{ i.short }}</p>
                                                <!-- blog footer -->
                                                <div class="blog-footer">
                                                    <a href="/user/{{ i.owner }}/">
                                                        <p>
                                                            <span><i class="fas fa-user"></i></span>{{ i.owner }}
                                                        </p>
                                                    </a>
                                                    <a href="{{ i.urls }}">
                                                        <p>Read More...</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- end of single blog -->
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4">

                    {% include 'sidebar.html' %}

                </div>

            </div>
        </div>
    </div>
    <!-- end blog -->

    {% endblock %}

    {% include 'footer.html' %}
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    {% include 'script.html' %}
    
</body>

</html>