<!doctype html>
<html lang="en">
{% load static %}
<head>  
    {% include 'head.html' %}   
    <title>{{blog_obj.title}}</title>
</head>
<body>

    <!-- navbar -->
    {% include 'navbar.html' %}
    {% block content %}

    <!-- Blog -->
    <div class="mt-5">
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 mb-5">
                    <!-- featured Details -->
                    <section class="section" id="featured">
                        <div class="detail">
                            <img src="{{ blog_obj.pic1.url }}" class="img-fluid" alt="{{blog_obj.title}}">
                            <div class="post-cat mt-5">
                                {% for i in blog_obj.categorie.all %}
                                <a href="{{ i.urls }}" class="btn">{{ i }}</a>
                                {% endfor %}
                                <div class="meta mt-3 ">
                                    <a class="profile" href="/user/{{ blog_obj.owner }}/"><i class="fas fa-user ml-2"></i>
                                        <span>{{ blog_obj.owner }}</span>
                                    </a> -
                                    <span>{{ blog_obj.created }}</span>
                                </div>
                            </div>
                            <div class="article mt-3">
                                <h1>{{ blog_obj.title }}</h1>
                                <p class="mt-3">{{ blog_obj.description }}</p>
                                <!-- <figcaption class="blockquote-footer mt-5">
                                    <span>#Tags: </span>
                                    <cite title="Source Title">Python, Django, Web Development</cite>
                                </figcaption> -->
                                {% if request.user == blog_obj.owner %}
                                <a class="btn" href="/blog/post/{{blog_obj.slug}}/update/">Edit</a>
                                <a class="btn" href="/blog/post/{{blog_obj.slug}}/delete/">Delete</a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- post comments on blog -->
                        <div class="comment mt-5 p-5">
                            <h3>Get Comment!</h3>
                            <form class="mt-4" action="" method="POST">{% csrf_token %}
                                <div class="mt-3 mb-3">
                                    <textarea required name="description" class="form-control" placeholder="Comment area"
                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn">Post comment</button>
                            </form>
                        </div>

                        <!-- get comments on blog -->
                        {% if blog_obj.comment|length > 0 %}
                        <div class="comment-area mt-5">
                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix mt-70">
                                <ul>
                                    <!-- Single Comment Area -->
                                    {% for i in blog_obj.comment %}
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content">
                                                <!-- Comment Meta -->
                                                <div class="comment-meta d-flex align-items-center justify-content-between"><p>
                                                        {% if i.owner == None %}
                                                            <i class="fas fa-user pr-2"></i>UNKOWN - <span class="post-date">{{ i.created }}</span>
                                                        {% else %}
                                                            <i class="fas fa-user pr-2"></i> <a class="profile" href="/user/{{ i.owner }}/">
                                                            {{ i.owner }}</a> - <span class="post-date">{{ i.created }}</span>
                                                        {% endif %}
                                                    </p>
                                                    <!--<a href="#" class="comment-reply btn world-btn">Reply</a>-->
                                                </div>
                                                <p>{{ i.description }}</p>
                                            </div>
                                            <!-- {% if i.reply|length > 0 %}
                                            <ul class="children">
                                                {% for j in i.reply %}
                                                    <li class="single_comment_area">
                                                        <!- Comment Content ->
                                                        <div class="comment-content">
                                                            <!- Comment Meta ->
                                                            <div
                                                                class="comment-meta d-flex align-items-center justify-content-between">
                                                                <p>
                                                                    <i class="fas fa-user pr-2"></i> 
                                                                    <a class="profile"href="/user/">{{ j.owner }}</a> - 
                                                                    <span class="post-date">{{ j.created}} </span>
                                                                </p>
                                                                <!-<a href="#" class="comment-reply btn world-btn">Reply</a>->
                                                            </div>
                                                            <p>{{ j.description }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %} -->
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}


                    </section>
                    <!-- end of featured Detail -->

                </div>

                <div class="col-lg-4">
                    {% include 'sidebar.html' %}
                </div>

            </div>
        </div>
    </div>
    <!-- end blog -->

    {% endblock %}

    {% include 'footer.html' %}
    

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    {% include 'script.html' %}
    
</body>

</html>