{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static './bootstrap/css/bootstrap.min.css' %} ">
<link rel="stylesheet" href="{% static './css/style.css' %} ">
<link rel="stylesheet" href="{% static './fontawesome/css/all.min.css' %} ">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel = "icon" href = "{% static './img/logo o2.png' %}" type = "image/icon type">

{% include 'navbar.html' %}

{% if messages %}
	<div style="background-color:lightyellow;" class="section-title nav">
	    {% for i in messages %}
	        <h5 style="font-size: 16px">{{i}}</h5>
	    {% endfor %}
    </div>
{% endif%}
