<!doctype html>
<html lang="en">
{% load static %}
<head>     
    <title>Login</title>
    {% include 'head.html' %}   
</head>
<body>
    {% block content %}
    <br>
    <div class="pb-5">
        <div class="container d-flex justify-content-center">
            <article class="">
                <h3>Login</h3>
                <hr>
                <p>if you don't have a registered account, you can register <a style="text-decoration: underline;" href="{% url 'register_view' %}">here!</a></p>
                
                <form action="{% url 'login_view' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <!-- inputs --> 
                        {{ form.username.label_tag }}     {{ form.username }}
                        <br><br>
                        {{ form.password.label_tag }}      {{ form.password }}
                    </div>
                    {% if form.errors %}
                    <p style="color:red;">Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <!-- button -->
                    <!-- <p><a href="#">Forgot password?</a> </p> -->
                    <br>
                    <button style="margin-left: 140px;" type="submit" class="btn">Login</button>
                    <!-- <button style="margin-left: 70px;" href="../" class="btn">Cancel</button> -->



                    <br><br>
                </form>
            </article>
        </div>
    </div>

    <!-- newsletter -->
    <section class="section newsletter" id="newsletter">
        <div class="container section-center newsletter-center">
            <div class="newsletter-title">
                <h3>want latest post info and updates?</h3>
                <p>Sign up for newsletter and stay up to date</p>
            </div>
            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="your email" />
                <button type="submit" class="btn">submit</button>
            </form>
        </div>
    </section>
    <!-- end of newsletter -->
    
    {% endblock %}

    {% include 'footer.html' %}
    

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    {% include 'script.html' %}
    
</body>

</html>